<header>
  <nav>
    <ul>
      <li><a href="{{ '/' | relative_url }}" class="internal-link">Home</a></li>
      <li>
        <a href="{{ '/Bob/105a' | relative_url }}" class="internal-link"
          >Math 105A</a
        >
      </li>
      <li>
        <a href="{{ '/Bob/100' | relative_url }}" class="internal-link"
          >Math 100</a
        >
      </li>
      <li>
        <a href="{{ '/Bob/23a' | relative_url }}" class="internal-link"
          >Math 23A</a
        >
      </li>
    </ul>
  </nav>
</header>
