<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width = device-width, initial-scale = 1.0" />
    <title>{{ page.title }} - {{ site.title }}</title>
    <link
      rel="stylesheet"
      href="{{'/assets/css/styles.css' | relative_url }}"
    />
    <link rel="favicon" type="image/x-icon" href="/favicon.ico" />
    <script type="text/x-mathjax-config">
      MathJax.Hub.Config({
        tex2jax: {
          inlineMath: [ ['$','$'], ["\\(","\\)"] ],
          processEscapes: true
        }
      });
    </script>
    <script
      type="text/javascript"
      async
      src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.7/MathJax.js?config=TeX-MML-AM_CHTML"
    ></script>
  </head>
  <body>
    {% include header.html %}
    <main>
      <div class="content-wrapper">
        <div class="main-content">{{ content }}</div>
      </div>
    </main>
    {% include footer.html %}
    <script src="{{ '/assets/js/main.js' | relative_url }}"></script>
  </body>
</html>
